@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.fotos-text-container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fotos-text {
    margin-top: 5px;
    background-color: #000;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: #fff;
}

.fotos-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.fotos-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.fotos {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.fotos:hover {
    transform: scale(1.02);
}

.foto1 {
    background-image: url('../../assets/batman-1.webp');
}

.foto2 {
    background-image: url('../../assets/batman-2.webp');
}

.foto3 {
    background-image: url('../../assets/batman-3.webp');
}

.foto4 {
    background-image: url('../../assets/batman-4.jpg');
}

.foto5 {
    background-image: url('../../assets/batman-5.jpg');
}

.foto6 {
    background-image: url('../../assets/batman-6.jpg');
}

@media(max-width: 768px) {

    .fotos-content {
        grid-template-columns: 1fr;
        margin-top: 70px;
    }

    .fotos-text1 {
        margin-top: -20px;
    }

    .fotos-text2 {
        margin-top: 0px;
        margin-bottom: -150px;
    }

    .foto1 {
        background-position: 60% 50%;
    }

    .foto2 {
        background-position: 50% 50%;
    }


    .foto3 {
        background-position: 45% 50%;
    }

    .foto6 {
        background-position: 45% 50%;
    }
}