@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
}

.nav-header {
    width: 60%;
}

.ul-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.li-header {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.li-header:hover { 
    color: #D21617;
}

#logo {
    width: 120px;
    height: auto
}

@media(max-width: 768px) {
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }
}